<!DOCTYPE html>
<html>
<head>
  <title>Home | Wempower</title>
</head>
<body>
<div class="center jumbotron">
  <h1>Home</h1>
	<p> lets add some beautiful UI/UX using material</p>
   <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
</body>
</html>



