<% @ideas.each do |idea| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <blockquote>
        <p><%= idea.description %></p>
      </blockquote>
      <br>
      <%= link_to 'Delete', idea_path(idea), method: :delete, class: 'btn btn-sm btn-primaty', data: {confirm: "Are you sure?"} %>
      <%= link_to 'Revise', edit_idea_path(idea), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>